#!/usr/bin/make -f

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

%:
	dh $@ 
override_dh_auto_clean:
	mkdir -p $(CURDIR)/debian/tmp/usr
	scons -c

override_dh_auto_configure:
	mkdir -p $(CURDIR)/debian/tmp/usr
	scons configure prefix=/usr \
		prefix_for_packaging=$(CURDIR)/debian/tmp/usr \
		release=1 \
		with-fftw3=1


override_dh_auto_build:
	scons
	scons doxygen

override_dh_auto_install:
	mkdir -p $(CURDIR)/debian/tmp/usr
	scons install
